*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess
/.env
/composer.json
/composer.lock
.vscode/



user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 4
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
local/
LANDING/
tools/
storage/
writable/
tests/
public/delete
robots.txt

